<div class="signup">
    <form #addUserDetails="ngForm" (submit)="addUser(addUserDetails)">
        <h2>User Registration</h2>
    <label for="firstName">First Name</label><br>
    <input type="text" [(ngModel)]="firstName" name="firstName" id="firstName" class="input-text"><br>
    <label for="lastName">Last Name</label><br>
    <input type="text" [(ngModel)]="lastName" name="lastName" id="lastName" class="input-text"><br>
    <label for="email">Email</label><br>
    <input type="email" [(ngModel)]="email" name="email" id="Emale" class="input-text"><br>
    <label for="gender">Gender</label><br>
    <select [(ngModel)]="gender" name="gender" id="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    <br>
    <label>Professional</label><br>
    <label for="professional1"><input type="radio" [(ngModel)]="professional" name="professional" id="professional1" value="trainee">Software Trainee </label><br>
    
    <label for="professional2"><input type="radio" [(ngModel)]="professional" name="professional" id="professional2" value="Developer">Software Developer </label>
    <br>
    <label for="address">Address</label><br>
    <textarea [(ngModel)]="address" name="address" id="address" cols="30" rows="10"></textarea><br>
    <label for="password">Password</label><br>
    <input type="password" [(ngModel)]="password" name="password" class="input-text"><br>
    <input type="checkbox" [(ngModel)]="terms" name="terms"> Accept terms and conditions <br>
    <button type="submit" class="btn">Submit</button>
</form></div>

<!-- {{name}} -->
